@model List<ResultProductDto>
@{
    ViewData["Title"] = "GetProducts";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
    int count = 0;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header border-transparent">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-10px">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ürün Ad</th>
                                        <th>Kategori Ad</th>
                                        <th>Fiyat</th>
                                        <th>Açıklama</th>
                                        <th>Tarih</th>
                                        <th>Stok Adedi</th>
                                        <th>Cinsiyet</th>
                                        <th>Size</th>
                                        <th>Renk</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tbody>
                                        <tr>
                                            <td><a>@count</a></td>
                                            <td>@item.ProductName</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.Price</td>
                                            <td>@item.Description</td>
                                            <td>@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</td>
                                            <td>@item.StockQuantity</td>
                                            <td>@item.Genders</td>
                                            <td>@item.Size.ParameterValue</td>
                                            <td>@item.Color.ParameterValue</td>
                                            <td><a href="/AdminProducts/DeleteProduct/@item.ProductId" class="btn btn-block btn-danger">Sil</a></td>
@*                                             <td><a href="/AdminProducts/UpdateProduct/@item.ProductId" class="btn btn-block btn-warning">Güncelle</a></td> *@
                                            <td><a href="@Url.Action("UpdateProduct","AdminProducts",new {id=@item.ProductId})" class="btn btn-block btn-warning">Güncelle</a></td>
                                        </tr>

                                    </tbody>
                                }
                            </table>

                        </div>
                    </div>
                    <div class="card-footer clearfix">
                        <a href="/AdminCategory/CreateCategory" class="btn btn-sm btn-info float-left">Yeni Ürün Ekle</a>
                        @*   <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

